<div class="subscribe-form">
  <div class="subscribe-description">
    Receba devocionais diários no seu e-mail. Preencha o formulário abaixo para se inscrever gratuitamente.
  </div>
  <div>
    <form method="post" action="/api/subscriptions/subscribe" class="subscribe-form">
      <input
        type="email"
        name="email"
        placeholder="Seu e-mail"
        required
        class="subscribe-input"
        autocomplete="email"
      />
      <button type="submit" class="subscribe-btn">Inscrever</button>
    </form>
  </div>
</div>
