<div class="subscribe-form">
  <div class="subscribe-description">
    Sentiremos sua falta! Se você decidir se desinscrever, deixará de receber nossos devocionais diários em seu e-mail. Esperamos que as mensagens tenham abençoado sua vida. Volte quando quiser!
  </div>
  <div>
    <form method="get" action="/api/unsubscribeSave" class="subscribe-form">
      <input
        type="email"
        name="email"
        placeholder="Seu e-mail"
        required
        class="subscribe-input"
        autocomplete="email"
      />
      <button type="submit" class="subscribe-btn">Desinscrever</button>
    </form>
  </div>
</div>
